.body4{
   background-image: url("https://images.hdqwalls.com/download/moon-rays-red-space-sky-abstract-mountains-4c-1920x1080.jpg");
   width: 100%;
   height: 100%;
}

.header{
   margin-bottom: 2px
   margin-top: 2px;
   text-align: center;
   background-color: rgba(0,0,0,0.9);
   width: 100%;
}

.h1title:hover{
   transform: scale(1.2);

}

.h1title{
   text-decoration: none;
   margin-top: 20px;
   color: white;
   font-size: 40px;
   font-weight: bold;
   transition: all .2s ease-in-out; 
}




/** Main grid **/

.mainbox{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 5px;
  align-self: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto; 
  justify-content: center;
  
}


/** Small screen **/

@media screen and (min-width: 100px) and (max-width: 525px){
   
   .mainbox{
      display: grid;
      grid-template-rows:  repeat(auto-fit, minmax(260px, 1fr));
      background-color: black;
      margin: 0 auto;
    }
      
}

/** Images **/

.boxone{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  
  
}

.img1:hover{
   transform: scale(1.2);
   
}

.img1{
   height: 200px;
   width: 200px;
   transition: all .2s ease-in-out; 
}

.boxtwo{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  
}

.img2:hover{
   transform: scale(1.2);
   
}

.img2{
    height: 200px;
    width: 200px;
    transition: all .2s ease-in-out; 
}

.boxthree{
   border: 2px solid black;
   border-radius: 20px;
   text-align: center;
   font-weight: bold;
   color: white;
   
}

.img3:hover{
   transform: scale(1.2);
   
}

.img3{
   height: 200px;
   width: 200px;
   transition: all .2s ease-in-out; 
}

.boxfour{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  
}

.img4:hover{
   transform: scale(1.2);
   
}

.img4{
  height: 200px;
  width: 200px;
  transition: all .2s ease-in-out; 
}

.boxfive{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  
}

.img5:hover{
   transform: scale(1.2);
   
}


.img5{
   height: 200px;
   width: 200px;
   transition: all .2s ease-in-out; 
}

.boxsix{
   border: 2px solid black;
   border-radius: 20px;
   text-align: center;
   font-weight: bold;
   color: white;
   
}

.img6:hover{
   transform: scale(1.2);
   
}

.img6{
   height: 200px;
   width: 200px;
   transition: all .2s ease-in-out; 
}


.boxseven{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  
}

.img7:hover{
   transform: scale(1.2);
   
}

.img7{
   height: 200px;
   width: 200px;
   transition: all .2s ease-in-out;  
}

.boxeight{
   border: 2px solid black;
   border-radius: 20px;
   text-align: center;
   font-weight: bold;
   color: white;
   
}

.img8:hover{
   transform: scale(1.2);
   
}

.img8{
   height: 200px;
   width: 200px;
   transition: all .2s ease-in-out; 
}

/** Footer **/

.footer{
   margin-bottom: 2px
   margin-top: 2px;
   text-align: center;
   grid-area: footer;
}

.fa-house:hover{
   transform: scale(1.2);

}

.fa-house{
   text-decoration: none;
   margin-top: 20px;
   color: white;
   font-size: 20px;
   transition: all .2s ease-in-out; 
}

